docs/cmu-user/*.aux
docs/cmu-user/*.cdx
docs/cmu-user/*.cnd
docs/cmu-user/*.fdx
docs/cmu-user/*.fnd
docs/cmu-user/*.idx
docs/cmu-user/*.tdx
docs/cmu-user/*.tnd
docs/cmu-user/*.toc
docs/cmu-user/*.vdx
docs/cmu-user/*.vnd
docs/cmu-user/*.ilg
docs/cmu-user/*.out
docs/cmu-user/*.pdf
docs/cmu-user/*.log
